.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7c1d1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  